/* цвет основного текста #212121*/
/* вторичный цвет текста   #757575 */
/* третий цвет текста ссылок акцент  #2196F3 */

/* белый   #FFFFFF */

/* цвет фона   #FFFFFF */
/* вторичный цвет фона   #2F303A */
/* третий цвет фона   #F5F4FA */

:root {
  --primary-text-color: #757575;
  --section-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
}

/* логотип */
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-style {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

/* навигация сайта */
.site-nav {
  color: var(--section-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  text-decoration: none;
}
.link-current:hover,
.link-current:focus {
  color: var(--accent-color);
}

/* контактная информация */
.contact-mail,
.contact-phone {
  color: var(--accent-color);
}
.contact-mail-link:hover,
.contact-mail-link:focus {
  color: var(--accent-color);
}
.contact-phone-link:hover,
.contact-phone-link:focus {
  color: var(--accent-color);
}

/* стили заголовков и текстов внутри секций */
.section {
  color: var(--section-text-color);
}
.section-title {
  color: var(--section-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* герой */
.hero {
  color: var(--primary-white-color);
  background-color: var(--section-text-color);
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

/* кнопки */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
}
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: #188ce8;
}

/* кнопки галерея */
.button-galery {
  color: var(--section-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
}
.button-galery:hover,
.button-galery:focus {
  color: var(--primary-white-color);
  background-color: #188ce8;
}

/* курсор */
.button,
.button-galery {
  cursor: pointer;
}

/* футер */
.contact-address,
.contact-mail-footer,
.contact-phone-footer {
  color: var(--primary-white-color);
  background-color: var(--section-text-color);
  text-decoration: none;
}
.contact-address:hover,
.contact-address:focus,
.contact-mail-footer:hover,
.contact-mail-footer:focus,
.contact-phone-footer:hover,
.contact-phone-footer:focus {
  color: var(--section-text-color);
  background-color: #f5f4fa;
  text-decoration: none;
}
