/* цвет основного текста #212121*/
/* вторичный цвет текста   #757575 */
/* третий цвет текста ссылок акцент  #2196F3 */

/* белый   #FFFFFF */

/* цвет фона   #FFFFFF */
/* вторичный цвет фона   #2F303A */
/* третий цвет фона   #F5F4FA */

:root {
  --primary-text-color: #757575;
  --section-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

/* логотип */
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo {
  color: #000000;
}
.logo-style {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

/* навигация сайта */
.site-nav .link {
  color: var(--section-text-color);
}
.link-current:hover,
.link-current:focus {
  color: var(--accent-color);
}

/* контактная информация */
.contact-mail,
.contact-phone {
  color: var(--accent-color);
}
.contact-mail-link:hover,
.contact-mail-link:focus {
  color: var(--accent-color);
}
.contact-phone-link:hover,
.contact-phone-link:focus {
  color: var(--accent-color);
}

/* стили заголовков и текстов внутри секций */
.section {
  color: var(--section-text-color);
}
.section-title {
  color: var(--section-text-color);
}
.section-title-second {
  color: var(--primary-text-color);
}

/* герой */
.hero {
  color: var(--primary-white-color);
  background-color: var(--section-text-color);
}

/* кнопки */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: #188ce8;
}

/* кнопки галерея */
.button-galery {
  color: var(--section-text-color);
  background-color: #f5f4fa;
}
.button-galery:focus {
  color: var(--primary-white-color);
  background-color: #188ce8;
}

/* курсор */
.button,
.button-galery {
  cursor: pointer;
}

/* футер */
.contact-address,
.contact-mail-footer,
.contact-phone-footer {
  color: var(--primary-white-color);
  background-color: var(--section-text-color);
}
.contact-address:hover,
.contact-address:focus .contact-mail-footer:hover,
.contact-mail-footer:focus,
.contact-phone-footer:hover,
.contact-phone-footer:focus {
  color: var(--section-text-color);
  background-color: #f5f4fa;
}
